@import "normalize.styl"

/*Fonts*/
@import "fonts.styl"

body
  box-sizing border-box
  font-family 'Gotham Pro'
  font-size 18px
  text-align center
  h1
    font-family 'Gotham Pro Medium'
    font-size 36px
    font-weight 100
    margin 30px 0

header
  color #fff
  background url('../img/header/header-background.png')
  background-size cover
  padding-bottom 50px
.header-logo
  padding-top 20px
  font-size 24px
  font-weight bold
.header-number
  width 370px
  margin 30px auto 60px
  img
    width 40px
    height 40px
    float left
    margin 10px 20px
  p
    margin 5px
    font-size 24px
.header-name
  font-weight bold
  font-size 48px
  margin 0
.header-title
  padding 0px 80px
.header-button
  width 500px
  margin 50px auto 30px
  border-radius 37px
  background-color rgb(255, 102, 0)
  p
    font-size 24px
    line-height 2.583
    padding 5px 0
    margin 0
  &:hover
    background-color #fff
    cursor pointer
    p
      color #000

//typesfences
.typesfences
  h2
    font-family 'Gotham Pro Light'
    font-size 36px
    font-weight 100
    margin 0
    margin-bottom 60px
.typesfences-background
  width 100%
.typesfences-background.top
  margin-top 48px
.typesfences-fence
  display flex
  .block
    width 33.33%
    img
      box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 1)
      border-radius 50%
    p
      padding 20px 70px

//advistory
.advistory,.contacts
  form
    margin-top 40px
    input,button
      display block
      width 500px
      margin 0 auto 50px
      font-size 24px
      padding 20px 0
      border-radius: 50px
      border 1px solid rgb(98, 98, 98);
      text-align center
      outline none
    input::-webkit-input-placeholder
      text-indent 0
      color #000
      transition text-indent .3s ease
    input::-moz-placeholder
      text-indent 0
      color #000
      transition text-indent .3s ease
    input:-moz-placeholder
      text-indent 0
      color #000
      transition text-indent .3s ease
    input:-ms-input-placeholder
      text-indent 0
      color #000
      transition text-indent .3s ease
    input:focus::-webkit-input-placeholder
      text-indent 500px
    input:focus::-moz-placeholder
      text-indent 500px
    input:focus:-moz-placeholder
      text-indent 500px
    input:focus:-ms-input-placeholder
      text-indent 500px
    button
      background-color #ff6600
      color #fff
      border none
      &:hover
        box-shadow 0px 7px 7px 0px rgba(127,127,127,1)
        cursor pointer

//whywe
.whywe
  h1
    margin 40px
  .block
    display flex
    flex-wrap wrap
    margin 0px auto
  .blocks
    width 33%
    margin-bottom 40px
    p
      padding 0 50px

//ourwork

.ourwork
  margin-bottom 60px
  .slider_wrap
    margin 50px auto 0
    width 90%
    height 40vw
    position relative
    overflow hidden

  .slider_wrap img
    width 85%
    height auto
    display none
    position absolute
    left 7%
    top 0

  .slider_wrap img:first-child
    display block

  .slider_wrap span
    margin-top -13px
    width 34px
    height 60px
    display block
    position absolute
    top 44%
    cursor pointer
    background url(../img/ourwork/sprite_icon.png) no-repeat

  .slider_wrap span.next
    right 5px
    background-position -99px 0
  .slider_wrap span.next:hover
    right 0
    width 47px
    height 63px
    background-position -138px -5px
  .slider_wrap span.prev
    left 5px
    background-position -5px 0
  .slider_wrap span.prev:hover
    left 0
    width 47px
    height 63px
    background-position -47px -5px

.feedback
  .clients
    display flex
    margin 0 10px 40px 0
  .name
    font-family 'Gotham Pro Medium'
    font-size 16px
  .hero
    width 25%
  .text
    font-family 'Gotham Pro Light'
    font-style italic
    font-size 14px
    text-align left
    padding 0 40px

.how-working
  .steps
    display flex
    flex-wrap wrap
    margin-left 90px
    margin-bottom 40px
  .step
    width 50%
    display flex
    align-items flex-start
    margin 30px 0
    p
      margin 0
      padding 0 80px
      text-align left
      font-size 23px

.installments
  p
    margin-left 90px
    text-align left
    font-family 'Gotham Pro Light'

.other
  .other-block
    img
      margin 20px 0
    p
      margin 30px 0

.contacts
  .application
    font-family 'Gotham Pro Light'
    font-size 24px

footer
  .num
    margin 30px 0
    font-size 24px
  .ip
    font-size 14px
    margin 20px 0
